table.fields fieldset{
    border: none;
    border-top: 2px solid #aaa;
    margin: 0px 0 10px 0;
}
table.fields fieldset legend{
   padding: 0 10px;
}
table.fields fieldset div.button{
    float: right;
    margin-top: -16px;
    padding: 0 0 0 2px;
    background-color: #fff;
}
table.fields fieldset a{
    padding: 0px 4px 1px 5px;   
}

/*
 * grapfics
 */
 .poll_grapfics{
     list-style: none;
 }
 .poll_grapfics li{
     padding-bottom: 10px;   
 }
 .poll_grapfics li .title{
     font-weight: bold;
 }
 .percent{
     overflow: auto;
 }
 .percent div{
     height: 16px;
     background-color: #0D82DB;
     float: left;
     border-color: #1F6193 #003365 #003365 #1F6193;
     border-style: solid;
     border-width: 1px;
 }
 .percent span{
    float: left;
    font-weight: bold;
    font-style: italic;
    display: block;
    margin: 1px 0 0 5px;
 }