.contactForm{
    
}
.contactForm div{
    padding-bottom: 4px;
    overflow: auto;
}
.contactForm div ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: inline-block;
    width: 500px;
}
.contactForm div ul li{
    overflow: auto;
}
.contactForm div ul li input{
    float: left;
}
.contactForm div ul li label{
    float: left;   
}
.contactForm div > label{
    display: inline-block;
    width: 120px;
    vertical-align: top;
}
.contactForm div input[type=text]{
    width: 500px;
    padding: 1px;
}
.contactForm div textarea{
    width: 500px;
    height: 120px;
}

.contactForm div label.error{
    display: block;
    margin-left: 84px;
    width: 500px;
    color: #f00;
    font-style: italic;
}
.contactForm div input.error,
.contactForm div textarea.error{
    border: 1px solid #f00;
}