
#paging{
    text-align: center;
    padding: 6px 0;
}
#paging ul{
    margin: 5px 15px;
    padding: 0px;
    display: inline-block;
}
#paging ul li{
    margin: 0px;
    padding: 0px;
    font-size: 11px;
    list-style: none;
    display: inline;
}
#paging ul .active,
#paging ul .current{
    background-color: #0D82DB;
    border-color: #1F6193 #003365 #003365 #1F6193;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    color: #fff;
    font-weight: bold;
    padding: 3px 6px;
    margin-right: 2px;
}
#paging ul .current,
#paging ul .active:hover{
    background-color: #005DB6;
    text-decoration: underline;
}