#main {width:1000px; margin:0 auto; position:relative;}

#header {height:359px; background:url(../images/header-bg.jpg) no-repeat left top;}
/*#header {height:359px; background:url(../images/header-bg.png) 50% bottom no-repeat;}*/
#header, #content, #footer { font-size:0.75em;}

.col-1, .col-2, .col-3 { float:left;}

#content .col-1 {width:600px; margin-right:40px;}
#content .col-2 {width:280px;}

#content .col-2 .module{
    margin-bottom: 20px;
}

#footer {height:90px; background:url(../images/footer-bg.jpg) no-repeat left top;}